*, *::before, *::after {
	box-sizing: border-box;
}

.carrousel {
	width: 100vw;
  height: 300px;
	position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
	position: relative;
	width: 200px;
	height: auto;
}
.slide {
  opacity: 0;
	transition-duration: 1s ease;
}

.slide.active {
	opacity: 1;
	transition-duration: 1s;
	transform: scale(1.01);
	display: flex;
	justify-content: center;
}

.carrousel button {
	color: rgba(225, 225, 225, .6);
	z-index: 2;
	position: absolute;
	background: none;
	border: none;
	font-size: 2rem;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	border-radius: .25rem;
	padding: .25rem;
	background-color: rgba(0, 0, 0, .05);
	opacity: 0;
}

.carrousel button:hover,
.carrousel button:focus {
	color: rgba(225, 225, 225, .9);
	background-color: rgba(0, 0, 0, .1);
	opacity: 1;
}

.carrousel button:focus {
	outline: 1px solid rgba(0, 0, 0, .1);
}

.carrouselButtonNext {
	right: 2rem !important;
}

.carrouselButtonPrev {
	left: 2rem !important;
}