.navBar {
	text-align: center;
}

.titleImg {
	height: auto;
	width: auto;
	max-width: 40vw;
	margin-top: 20px;
}

.navList {
	font-family: "ZenLoop";
	font-size: 25px;
  color: white;
	font-weight: bolder;
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	padding-left: 0;
}

.navList a {
	color: inherit;
	text-decoration: inherit;
}