.footer {
	text-align: center;
	margin: 0;
	min-width: 414px;
}
.footerList {
	font-family: "ZenLoop";
	font-size: 25px;
  color: white;
	font-weight: bolder;
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	padding-left: 0;
}

.footerList a {
	color: inherit;
	text-decoration: inherit;
}